<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>
<form action="/get_names", method='post'>
  Player 1: <input type="text" name="player1" />
  <br><br>
  Player 2: <input type="text" name="player2" />
  <br><br>
  <input type="submit" value="Submit" />
</form>

</html>
